:root {
	--primary: #111;
	--primary-text: #fff;
	--secondary: #555;
	--secondary-text: #b8b8b8;
	--accent: #f09b3a;
	--accent-text: #fff;
	--font-size: 1rem;
	--color-transition: color 0.1s ease-in-out;
	--container-padding: 0.75rem;
	--container-width: 350px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Google Sans Code", monospace;
}

body {
	width: 100%;
	height: 100vh;
	padding: 3rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary);
	color: var(--primary-text);
	font-size: var(--font-size);
}

.header {
	padding: var(--container-padding);
}

.header h1 {
	font-size: 1.5rem;
}

.header small {
	color: var(--secondary);
}

.list-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	max-width: var(--container-width);
}

.list {
}

.item {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: var(--container-padding);
	cursor: pointer;
	color: var(--secondary-text);
	border-left: 0px var(--accent) solid;
	transition: all 0.15s ease-in-out;
	border-left: 0px var(--accent) solid;
}

.item:hover {
	color: var(--primary-text);
	border-left: 5px var(--accent) solid;
}

.icon {
	display: none;
	stroke: var(--secondary-text);
	width: 15px;
}

.item:hover .icon {
	display: block;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: solid 1px var(--secondary);
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: var(--container-padding);
	width: 100%;
	max-width: var(--container-width);
}

a {
	text-decoration: none;
	color: var(--secondary-text);
	transition: var(--color-transition);
}

a:hover {
	color: var(--primary-text);
}

@media only screen and (max-width: 450px) {
	body {
		align-items: start;
	}
}
